node_modules
dist
input/*.xlsx
input/*.csv
output/*.csv
output/*.xlsx
test-input/*.csv
test-input/*.xslx
logs
*.log
tmp

.npm
.eslintcache
.node_repl_history

# dotenv environment variables file
.env
.cache

